.gridlayout {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 200px));
  grid-template-rows: repeat(autofit, minmax(150px, 1fr));
  font-family: Verdana, sans-serif;
  margin-left: 50px;
  gap: 20px;
}

.header {
  margin-top: 10px;
  margin-left: 10px;
}

.intro {
  margin-top: 10px;
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}

.name {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

.frame {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

.fit {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

.diff {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
}

.sliderContainer {
  grid-row: 5 / span 1;
  grid-column: 1 / span 2;
}

.riserun {
  margin: 5px 0px 70px 0px;
}

.drawing {
  grid-row: 5 / span 1;
  grid-column: 3 / span 1;
}

.slider {
  margin-top: 30px;
  height: 80px;
}


